[2017-01-22 13:03] andykenward opened #1 "PropertySortOrder not honoured"
Doesn't honour the PropertySortOrder rule.

example rule
[code]

[2017-02-28 15:04] mkallies opened #2 "Not working"
Currently trying out VSCode and I use scss-lint for my project.  I've been using scss-lint just fine in Atom but for some reason it's not working in VSCode with you're extension.  I currently have scss_lint 0.49.0 installed with your extension version 0.0.6

[2017-03-03 11:22] WolfieZero commented on #2
I'm having the same issue as well.

.scss-lint.yml is in the root of my project

*Versions*
ruby 2.4.0p0 (2016-12-24 revision 57164) [x86_64-darwin16]
scss-lint 0.49.0
vs code 1.10.1

[2017-04-18 08:26] BProg commented on #2
I am having the same problem on windows.

[2017-04-26 08:32] maciejmyslinski commented on #2
Same for me. mac os.

[2017-05-12 11:27] Dorza commented on #2
Same for me, I usually run atom (works fine) but need to test on VSC as some of our team use this also. So I downloaded VSC, install the scss-lint plugin save a file that i know causes errors in atom and I get nothing. As I say this works fine in Atom, I have my yml file at the root of my project and have the correct gem installed.

Windows 10

[2017-05-17 21:43] gavdevs commented on #2
any body figure out how to fix this?

[2017-05-17 21:43] gavdevs commented on #2
or alternatives?

[2017-05-22 21:30] yoodame commented on #2
You have to put the `.scss-lint.yml` file in your root directory for it to work. I submitted a [pull request](https://github.com/adamwalzer/vscode-scss-lint/pull/3) that lets you put the config in subdirectories. Just waiting on @adamwalzer  to review and accept.

https://github.com/adamwalzer/vscode-scss-lint/pull/3

[2017-05-23 02:46] adamwalzer commented on #2
@yoodame's PR solves this issue. I'm going to close it. Thanks!

[2017-05-23 03:58] adamwalzer commented on #1
Please try

[code]

and let me know if that works. Thanks!

[2017-05-23 04:01] adamwalzer commented on #1
Also be aware this will only throw an error if you have one of those properties in your selector. If you have something like
[code]

You will not get an error, but if you have
[code]
you should get an error.

[2017-05-23 04:49] adamwalzer commented on #1
The real issue here was that the extension did not report warnings. It only supported errors. I have fixed that so this issue should be resolved in version 0.0.11.

[2017-05-23 05:04] chialin commented on #1
It works in version 0.0.11. thank you.

[2017-05-23 10:09] donni106 commented on #2
It is still not working for me.

@WolfieZero was mentioning, that

@yoodame said for fixing

So it seems not to be the fix for the problems some of us have with .scss-lint in root?!

My scss-lint is working from terminal, but VS Code always shows <img width="131" alt="bildschirmfoto 2017-05-23 um 12 08 18" src="https://cloud.githubusercontent.com/assets/1942953/26349603/8b059542-3fb0-11e7-96df-9ad

[2017-05-23 12:03] adamwalzer commented on #1
Awesome. I'm going to close this issue. Thanks!

[2017-05-23 12:03] #1 closed

[2017-05-23 12:29] adamwalzer commented on #2
I'm not sure what your issue is, but if the supplied solution is solving this issue for other people perhaps we should open another issue for your troubles. Please explain it well so we can debug it. I will be traveling the next couple weeks so I won't be able to publish any updates anytime soon. I did however add support for css if that is your issue. The README explains how to add css support to

[2017-05-23 12:55] donni106 commented on #2
It is still the same issue like i.e. @Dorza was commenting 11 days ago:

For me it is not Atom but Sublime, where scss linting works fine and in VS Code not.
@yoodame fix is targeting config files in subdirectories. It is not the fix for the default setup with .scss-lint.yml in the root path of a project, or am I wrong?

[2017-05-23 13:38] adamwalzer commented on #2
Hmm. Alright. What version of the extension do you have? And could you show me what you run in your terminal input and output? Thanks.

[2017-05-24 09:44] donni106 commented on #2
In terminal I can run scss-lint properly:

Output:

app/assets/stylesheets/blog/_blog.scss:2:3 [W] PropertySortOrder: Properties should be ordered align-items, background-color, background-image, background-position, background-size, display, height, paddin
g, text-align, width
app/assets/stylesheets/blog/_blog.scss:4:31 [W] StringQuotes: Prefer single quoted strings
...

When opening and working

[2017-05-24 13:37] yoodame commented on #2
@donni106 I have the same versions as well. The extension didn't work for me this morning. I tried reloading vscode but reinstalling the extension worked. Maybe give that a shot if you haven't already.

It is strange that it was working for me the day before.

[2017-05-24 14:28] donni106 commented on #2
Thanks @yoodame! I tried to uninstall/install several times with reopening VS Code without success.
**BUT!** I checked my different ruby versions installed per rbenv and found out, that scss_lint was not installed in the system ruby.
Installing it there made it work for VS Code!

Now I can see the scss-lint errors directly in code. Ironically the counter in the bottom bar stays at 0.

[2017-05-24 14:53] adamwalzer commented on #2
The counter is displaying errors. Those were all warnings, not errors. Would we like to display warnings as well? I could adjust how that works.

[2017-05-24 15:06] donni106 opened #4 "Show warnings count in the bottom bar"
In #2 we came up with the idea to show a counter for warnings as well next to the errors.

@adamwalzer:

I think that would be a good idea to have a counter for warnings as well. Maybe decidable per settings to show them in the bottom bar or not?
If showing errors and warnings together, the terms needs to be shorter.

**(icon) 0 scss-lint errors and 0 scss-lint warnings** is too much.
I think abou

[2017-05-24 15:06] donni106 commented on #2
Ah good to know, thanks. I dive deeper and deeper.
I opened a new issue for showing warnings.

[2017-05-24 15:45] yoodame commented on #4
This is a great idea!

I personally prefer less clutter so perhaps (icon) scss-lint (error icon) 0 (warning icon) 0. Similar to how vscode displays GitHub errors and warnings. Also, thoughts on making it clickable to the display the "problems" or "output" tabs?

[2017-05-24 20:57] adamwalzer commented on #2
Ok awesome. I'm going to close this issue then.

[2017-05-24 20:57] #2 closed

[2017-05-24 21:45] adamwalzer commented on #4
Ok I have updated the status bar to include warnings. I didn't make it clickable, but if you hover over the individual errors it should give you the message of what the error is. That to me does a better job of indicating the individual issues. If we feel this issue is closed, I will close it.

[2017-05-29 12:02] donni106 commented on #4
Thanks for the update: <img width="361" alt="bildschirmfoto 2017-05-29 um 13 58 57" src="https://cloud.githubusercontent.com/assets/1942953/26548986/06628824-4477-11e7-9675-38e52c9870f1.png">

I would also love to see the icons and counts fitting the git infos to the left, like @yoodame was suggesting:

The error icon could also be the (x) like git is using?!

[2017-05-29 12:06] donni106 opened #5 "Show errors and warnings in the problem tab?"
An useful enhancement could be the listing of errors and warnings in the problem tab of VS Code.

<img width="617" alt="bildschirmfoto 2017-05-29 um 14 03 39" src="https://cloud.githubusercontent.com/assets/1942953/26549165/ec5c22c2-4477-11e7-80eb-25441d11c37b.png">

Is that possible?
Is there a documentation how to do that?

[2017-05-29 12:13] donni106 opened #6 "Add possibility to underline code instead of background fill it"
Is it possible to add the option for underlining code? The background fill can be aggressive or frustrating to the developer. A minimized possibility could attract more users, especially if they can choose their favorite per settings.

[2017-05-31 21:00] AndrewRayCode opened #7 "Doesn't work, doesn't show any errors"
[code]

Install this extension. Don't do anything else (meaning don't add configuration settings).

Restart VSCode

Open `app/style/forms.scss`, or whatever.scss, add:

    $background-color:rgba(2,ab3);

No errors

Save file

No errors

No warnings either about invalid configuration.

[2017-06-01 16:39] donni106 commented on #7
Hi, did you check this issue: https://github.com/adamwalzer/vscode-scss-lint/issues/2?

Did you try with scss_lint 0.49.0, as saying in the docs?

Have you installed scss_lint in your system ruby? Or are you using rbenv and installed it in a projects ruby version? Installing it in the system ruby solved the problem for me back then.

[2017-06-02 18:08] AndrewRayCode commented on #7
Looks like that did it :) I think the readme should be more strongly worded for people with poor reading comprehension like me

[2017-06-02 18:10] AndrewRayCode commented on #6
All other linting plugins I've used for VSCode (eslint, rubocop) and in any other editor use squiggly underlines. This plugin should do the same!

[2017-06-05 21:45] AndrewRayCode opened #8 "Shows linting errors in the wrong file"
I have no idea how this is possible, but I have a scss file open in one tab, and to the right of it, a ruby file.

My scss file has linting errors. If I switch to the scss file tab, which apparently triggers the linting, then switch to the ruby file tab before linting completes, the errors are shown on the ruby file tab.

![screen shot 2017-06-05 at 2 44 11 pm](https://cloud.githubusercontent.com/

[2017-06-22 21:31] adamwalzer commented on #7
Hey Andrew, could you suggest a better way to word the README? Thanks!

[2017-06-22 21:31] adamwalzer commented on #8
I'll look into this one sometime soon.

[2017-06-22 21:32] adamwalzer commented on #6
I can add this as an option. I'll let you know when I do work on it. Thanks for the suggestion.

[2017-06-22 21:33] adamwalzer commented on #5
I think this is possible. I'll look into this, but so you know, if you hover over the error you can see the error text.

[2017-06-22 21:35] adamwalzer commented on #4
Ok right now it's using the git Octicons. I'll have to see how to use other icons.

[2017-06-23 09:42] donni106 commented on #4
It doesn't have to be exactly the same. Maybe there is an (x) in the current available icon set?

[2017-06-25 17:40] adamwalzer commented on #4
This will be part of the 0.0.15 update. I'm also making statusBarText an option so you can edit it to be whatever you want.

[2017-06-25 18:08] adamwalzer commented on #7
Alright I'm going to close this issue, but if anyone has better ways of wording the README let me know. Thanks

[2017-06-25 18:08] #7 closed

[2017-06-25 18:09] adamwalzer commented on #8
I am adding something to prevent this in 0.0.15, but it's hard for me to know if it works because I wasn't having the issue to begin with.

[2017-06-25 18:41] adamwalzer commented on #4
These updates are out.

[2017-06-25 18:41] #4 closed

[2017-06-25 18:41] adamwalzer commented on #8
This should be fixed. Let me know if it's still happening in 0.0.15. Thanks

[2017-06-25 18:41] #8 closed

[2017-06-27 11:42] donni106 commented on #5
Yes I know.
If you find some documentation on how to add something in Code's problems tab, please link here.

[2017-06-27 11:47] donni106 commented on #4
Thanks, after editing the option and restarting Code it worked perfectly.

[2017-07-01 15:03] adamwalzer commented on #5
This should be resolved by https://github.com/adamwalzer/vscode-scss-lint/pull/9

[2017-07-01 15:03] #5 closed

[2017-07-01 15:04] adamwalzer commented on #6
This should be resolved by https://github.com/adamwalzer/vscode-scss-lint/pull/9

[2017-07-01 15:04] #6 closed

[2017-07-21 01:08] viviangb opened #10 "Can you make it use a .scss-lint.yml file that's on another directory (not in the current open project)?"

[2017-07-21 15:24] donni106 commented on #10
Do you think that it would be fine to define the directory in the plugin settings?
I think there is no possibility to find the file automatically outside the project.

[2017-07-21 15:24] vivgui commented on #10
YES, that's exactly what I need!

[2017-07-22 21:10] adamwalzer commented on #10
The fix is in version `0.0.17`. Let me know if it doesn't work. Also, it'd be nice if our extension had some reviews 😄

[2017-07-22 21:10] #10 closed

[2017-07-22 21:35] vivgui commented on #10
Hey @adamwalzer I just updated the extension and the scssLint.configDir option doesnt work. This is what I have on my settings.json file:

`"scssLint.configDir": "/Users/vivianguillen/.scss-lint.yml",`

I double checked that the path was correct but it isnt working, can you help me?

[2017-07-22 21:38] adamwalzer commented on #10
@viviangb It should be just the directory. `"scssLint.configDir": "/Users/vivianguillen/",` Hope that works. Let me know.

[2017-07-22 21:42] vivgui commented on #10
@adamwalzer yep that did it! Thank you! Also left you a review :)

[2017-07-22 21:43] adamwalzer commented on #10
@viviangb thank you so much! Happy coding!

[2017-08-05 22:46] felipecesr opened #12 "Don't working in windows"
I installed the gem and plugin but it didn't work in my vscode, what is it? My OS is Windows 10.

[2017-08-07 09:25] donni106 commented on #12
Which gem version are you using?
Did you install the gem globally?

[2017-08-07 12:24] felipecesr commented on #12
I installed with the suggested command "gem install scss_lint -v 0.49.0"

[2017-08-07 22:37] felipecesr commented on #12
I am using the same as the recommended documentation, 0.49.0. Yes, I installed globally.

[2017-08-10 03:05] adamwalzer commented on #12
Hey @felipecesr if you run scss-lint in the terminal what do you get?

[2017-08-10 14:16] Mr-Chilly commented on #12
Same issue here!

Scss-lint runs fine in terminal. Infact I have a pre-commit hook that fires and throws errors.

I get (obvious) scss errors :

![capture](https://user-images.githubusercontent.com/5287204/29174591-a7792466-7dde-11e7-9a76-b3fac1462956.PNG)

Please note, there are 3 errors, but nothing next to scss-lint!

I've also (weirdly) only got sass as a language, rather than scss.

Brand new

[2017-08-10 14:21] adamwalzer commented on #12
Ok. I think we can solve this. What directory do you run scss-lint from in your terminal, what code do you actually execute, and what is the exact output? I think it's possible I'm making some assumptions about how those things work that is specific to Mac. I would love it if I could fix these issues and make the extension work everywhere. (Anyone know if it works in linux?)

[2017-08-10 14:30] Mr-Chilly commented on #12
Sure :-)

`scss-lint` is the core command, I run it from project root, which is actually:

E:\BitBucketProjects\someAwesomeProject

scss-lint version : 0.50.3

[2017-08-10 21:50] adamwalzer commented on #12
This is going to be a tough one for me to solve without a Windows computer. I can get a VM, but if we have any Windows developers out there that'd like to take a stab at it, that'd be great!

[2017-08-10 21:52] adamwalzer commented on #12
I'm not entirely sure but I'm guessing it may have something to do with the paths using `\` instead of `/` or perhaps some of the packages we use like `exec` or `findParentDir`.

[2017-08-10 23:03] Mr-Chilly commented on #12
I'm a dev with a windows machine ;-)

ok, so looking at it - you're right about the slashes, but that is only half the problem... I've had to hard code my workspace path in (not sure how to fix this)

`const dir = ('c:\\Users\\ME\\Desktop' || '') + '/';`

then when trying to build the command up, we do indeed have / or \ issues:

`const startingDir =  doc.fileName.substring(0, doc.fileName.lastInd

[2017-08-10 23:26] Mr-Chilly commented on #12
DOUBLE BOOM!

that regex didn't account for some weird whitespace at the start and end of `line` 👍

`line = line.replace(/^\s\s*/, '').replace(/\s\s*$/, '');`

![capture](https://user-images.githubusercontent.com/5287204/29196364-af0405b4-7e2b-11e7-986e-96ed7c8453df.PNG)

Ok, so that's three issues (Workspace, Slashes, Regex), any ideas on the best way forward for getting this usable on both OS's?

[2017-08-11 02:52] adamwalzer commented on #12
Nice I like it. If you make a PR I can fiddle with it to try to get it work on Mac and then we can check to make sure it still works on Windows as well and then merge this.

[2017-08-22 02:11] adamwalzer commented on #12
This should be resolved in version 0.0.18. Let me know if it works or does not work for you.

[2017-08-22 02:11] #12 closed

[2018-01-05 09:20] swsalim commented on #7
I'm having similar issue with what @AndrewRayCode reported initially.

Current Installed Versions:
scss-lint 0.49.0
vs code 1.10.1

I've downgraded the scss-link version to 0.49.0 and pointed "scssLint.configDir" to my home dir where my configuration is.

I've also tried to set "scssLint.showHighlights": true".

Still I'm not seeing any highlights or any error reported on the 'Problems' window and

[2018-01-05 10:22] swsalim commented on #7
Updated! Managed to sort it out.

Initially installed the latest version of scss_lint before installing version 0.49.0. Apparently gem keeps both version and VS couldn't find which one to use, probably.

I removed the latest version and keep version 0.49.0 and it works.

[2018-01-06 17:22] adamwalzer commented on #7
@swsalim thank you for pointing out and solving your issue. I'll look into trying to report issues like that better to the user.

[2018-01-08 13:11] marcelhadorn opened #15 "Doesn't show anything"
Can't make it to run, followed all the steps described, scss-lint in console works properly with the given .scss-lint.yml file.

[2018-01-11 22:04] adamwalzer commented on #15
Hey @marcelhadorn,

Thanks for taking the time to file an issue. Can you tell me a little more about your setup? What version of scss_lint? Windows/Mac/Linux? Any user settings? Using css/scss? What command do you run in your console? What does the output look like in your console?

[2018-01-15 14:30] marcelhadorn commented on #15
Sorry my issue was a bit uninformative. I'm on a MacPro with MacOS 10.13, I guess I was using the latest scss_lint (0.56.0) and using scss. I used `scss-lint`which output mi a list of Warnings and Errors throughout files in a folder. However, might it be that I'm not using the ruby sass but the libsass library to compile?

Meanwhile I've switched to sass-lint extension which runs with node sass-li

[2018-01-15 15:39] adamwalzer commented on #15
Well, it's up to you if you'd like to run tests. I'll happily try to debug if I have a bit more information, but if you'd rather not that's understandable as well. The most useful information would be what command do you run in the terminal? What output do you get? And what directory do you run the command in relative to your working directory?

[2018-01-15 15:57] marcelhadorn commented on #15
I can run tests if you need me to, no rpblem. However if I'm the only one having that issue, maybe you can invest your time better. ;)

As i mentioned I run `scss-lint` command in the root of the working dir. Output is something like this:
[code]

[2018-01-16 21:35] freszyk opened #16 "Run linter on typipng"
Is it possible to run linter on typing or only on save?

[2018-01-17 00:43] adamwalzer commented on #15
Yeah. Seems like it should work to me. If anyone else has any insight on this issue or is also experiencing this issue please let me know or create a PR with a potential fix.

[2018-01-24 19:54] adamwalzer commented on #16
It is currently only possible to run this extension on save, but I will look into what it would mean to change that.

[2018-01-24 21:13] adamwalzer commented on #16
Ask and you shall receive. The next version of the extension has the config `runOnTextChange` which defaults to `false` but if changed to `true` will run the extension on text changes. Let me know if it all works well for you. :-) and then we can close this issue.

[2018-01-24 21:15] adamwalzer commented on #15
A new version just got released. Since I can't reproduce your issue, it's hard for me to know, but I think it may resolve your issue. Let me know. Thanks!

[2018-01-30 22:00] adamwalzer commented on #16
@freszyk is this feature working for you?

[2018-01-30 22:04] #15 closed

[2018-02-06 16:34] ds-codemag commented on #16
Sorry for late answering. Now I have problem with run scss-lint. I put scss-lint.yml to main project folder and set "scssLint.configDir": "./" and I have "Error running scss-lint". It worked before.

[2018-02-06 16:41] adamwalzer commented on #16
@freszyk I'm not sure why that would be breaking anything, but if .scss-lint.yaml is in your project's base directory, you shouldn't need to set `scssLint.configDir` at all. You can delete that from you settings json, and it should work. Let me know if that works. Thanks!

[2018-02-06 17:00] freszyk commented on #16
I dont know why but it still doesnt work

[2018-02-06 17:01] ds-codemag commented on #16
I made everythinx exactly how you wrote and still nothing.

[2018-02-06 17:11] ds-codemag commented on #16
![obraz](https://user-images.githubusercontent.com/3948456/35872930-8a475576-0b68-11e8-9dd1-b89fa5b53881.png)
On the left is structure of my prject and on the right is opened file which should be validated but it isnt.

This is settings.json:
![obraz](https://user-images.githubusercontent.com/3948456/35872993-b8838630-0b68-11e8-9590-f5a840252388.png)

[2018-02-06 17:33] adamwalzer commented on #16
Unfortunately, I can't quickly determine what's going on here. After work, I'll have to try to debug on a windows machine unless you'd be interested in debugging. I've never developed on a windows machine so I'll see how smoothly that all goes.

[2018-02-07 06:24] adamwalzer commented on #16
Thanks for all the information. I believe I have fixed the issues. Let me know if everything is working for you. Thanks!

[2018-02-08 21:36] ds-codemag commented on #16
Ok, something happens but still does'nt work. Now I have this error:
![obraz](https://user-images.githubusercontent.com/3948456/35999474-3f7f76a4-0d20-11e8-93e0-e9eb5ff59006.png)

[2018-02-08 21:50] adamwalzer commented on #16
Ok. I'm trying to figure this out but I'm not all too familiar with shell on windows. Does your file path have spaces in it? Will I need to escape those? With `^`? Also, do you know if that double `\` before .scss-lint.yaml is an issue? I don't know windows well so I'm not familiar with if that's necessary for files starting with `.`. I should be able to fix any of those issues. (Hopefully those a

[2018-02-08 23:24] ds-codemag commented on #16
I edited your code and removed double "\\". I thought that problem is with "file://" and replaced it to "C:" to get "C:\Users\User\Desktop\Projekty\Struktura nowego projektu\.scss-lint.yml" and it still dont work. I dont know what to do with that. I give up.

[2018-02-08 23:35] ds-codemag commented on #16
You had right! I removed spaces from main directory and it works. OMG!
Reading the error, I would never have thought that spaces would cause error.

[2018-02-09 04:10] adamwalzer commented on #16
I just published a new version of the extension that should resolve the space in path issue in case you want to keep using spaces in your path. Let me know if it works for you.

[2018-02-09 06:46] ds-codemag commented on #16
Ok I'll check this after work.

[2018-02-10 16:04] adamwalzer commented on #16
Ok. I'm going to assume this issue is resolved since I tested it myself, but please let me know if it isn't working for you. Thanks!

[2018-02-10 16:04] #16 closed

[2018-02-15 18:00] afridley opened #17 "scss-lint:disable all not working - linter having problems with commented out html"
I have a scss file with a large section of code commented out at the top.
looks something like

[code]
For some reason when this is present the linter shows errors on the scss below that don't exist in random places almost as if everything has been shifted.

Ex. background-position: center center;
gets the error StringQuotes prefer double quoted strings.

If I delete the top commented out document

[2018-02-26 19:02] adamwalzer commented on #17
@afridley Thanks for reporting the issue. I think I'll be able to take care of this one. Can I get more information about your system? Windows? Mac? Version of scss-lint?

[2018-02-26 19:50] adamwalzer commented on #17
This issue should be fixed for macs now. I'm not sure if it's still occurring on windows.

[2018-02-27 19:00] afridley commented on #17
Works for me! I am on a Mac though so I can't vouch for windows.

[2018-02-27 19:01] adamwalzer commented on #17
Great to hear. I'll try to test this in windows before closing the issue though. Thanks!

[2018-02-28 02:56] adamwalzer commented on #17
Works on windows for me. Closing the ticket :-)

[2018-02-28 02:56] #17 closed

[2018-04-05 19:36] explorador opened #18 "Missing fallback config file"
It gives an error when no config file is present and messes up the editor.

Something like this should fix it:
https://marketplace.visualstudio.com/items?itemName=glen-84.sass-lint
Configuration option #2.

[2018-04-10 19:15] adamwalzer commented on #18
@explorador thanks for reporting this issue. I'll try to fix it sometime this week. Sorry for the wait, I just saw this issue.

[2018-04-12 20:36] adamwalzer commented on #18
@explorador I adjusted the extension so if it doesn't find a config file, it just uses the default scss-lint configs now. Should be fixed in 0.1.2. Let me know if you see the fix working for you. I'll wait to hear from you before I close this issue.

[2018-04-13 03:14] explorador commented on #18
Works! Thanks a lot!

[2018-04-13 03:14] #18 closed

[2018-04-17 07:02] mazikwyry opened #19 "Error running scss-lint: invalid option: --no-color"
VS Code version 1.22.2
scss-lint version 0.1.2
scss_lint gem version 0.49.0

Tried to install reinstall, clean up gems and I still get the same error.
I have no idea where the `no-color` option is set.

![image](https://user-images.githubusercontent.com/1079965/38853567-fb0758ec-421d-11e8-8bcc-89e7d84c6e7e.png)

It may be useful information that I use `rvm`

Happy to help you with investigation.
T

[2018-04-25 18:00] adamwalzer commented on #19
Thanks for reporting this issue. My apologies that I'm just seeing it now. I can hopefully look more into this this week or weekend. I'll let you know when I have a fix. To explain, I believe I have --no-color automatically set to make sure the color formatting doesn't interfere with the regex we use to parse the data the ruby gem returns to the extension. I'll see if possibly having the color wou

[2018-04-26 19:08] adamwalzer commented on #19
@mazikwyry this issue should be fixed in version `0.1.3`. Please let me know if the issue still persists.

[2018-05-02 14:32] adamwalzer commented on #19
Alright. I'm going to close this issue since it appears to be fixed on my end.

[2018-05-02 14:32] #19 closed

[2018-05-30 19:39] YavorIvanov commented on #15
Hey there. Strange issue here like this. I spent an hour or so between my iMac and Macbook Pro figuring out why on the Macbook it doesn't show anything while on the iMac it works perfect. Versions of sass are identical as is the scss-lint command. Any idea how to proceed with debugging this further?
Just to clarify all settings and packages are the same.

[2018-05-30 20:42] YavorIvanov commented on #15
Hm this has been very strange. It seem rbenv has been an issue.

Though on my Macbook it has been globally set and the version and pathing for rbenv are ok, it seems that it should always use the system ruby.

Might be worth taking a look though in the future.

[2018-05-31 00:26] adamwalzer commented on #15
@YavorIvanov do you get the same response when you run scss-lint in the command line on both devices? This extension simply executes scss-lint in the terminal and parses the response to display the errors and warnings in vscode. If it's not working in the terminal, it won't work for this extension.

[2018-07-19 18:21] garyking opened #20 "Doesn't respect `exclude` items"
I have `exclude` items in my `.scss-lint.yml`, and they are respected by `scss-lint` in the shell. But this extension doesn't respect these rules, and still shows warnings on files that should be excluded.

[2018-07-20 19:39] adamwalzer commented on #20
@garyking thanks for submitting the issue. I will look into fixing this issue soon.

[2018-07-25 16:28] adamwalzer commented on #20
I've been quite busy last week and this week. I'm not sure how soon I'll be able to get to this issue. If someone else wants to look into it, feel free to do so. If not, I'll hopefully get to it in the next couple of weeks.

[2018-08-06 14:26] adamwalzer commented on #20
@garyking this issue should now be resolved in version 0.1.4 of the extension. Check it out and let me know if you're seeing it function properly. Thanks!

[2018-08-15 21:02] adamwalzer commented on #20
Ok I'm going to assume this is resolved and close this issue

[2018-08-15 21:02] #20 closed

[2018-08-16 16:25] amaisano commented on #20
I tried with both relative and absolute paths... no dice. Do you have an example of this setting/config you could please post? Thanks.

[2018-08-17 16:35] adamwalzer commented on #20
@amaisano thank you for the comment. I'm at a wedding this weekend but maybe this other issue can help you with your question. https://github.com/adamwalzer/vscode-scss-lint/issues/10#issuecomment-317212079 and if that's helpful then please let me know I can update the readme to be more clear.

[2018-08-17 17:23] amaisano commented on #20
Perfect - thanks! (Enjoy the wedding!)

On Fri, Aug 17, 2018 at 12:35 PM Adam Walzer <notifications@github.com>
wrote:

[2018-09-06 16:34] techdept opened #21 "Not working on Windows"
Hi there, love the plugin but doesn't seem to work currently.
I have:
``` scss-lint 0.57.0 ``` (most recent)
[code]

This happens even when the `.scss-lint.yml` file is empty. It is definitely finding it though - because if I delete it, there is no linting or error at all.

Any ideas?

[2018-09-06 16:34] #21 closed

[2018-09-06 16:34] entozoon opened #22 "Not working on Windows"
Hi there, love the plugin but doesn't seem to work currently.
I have:
``` scss-lint 0.57.0 ``` (most recent)
[code]

This happens even when the `.scss-lint.yml` file is empty. It is definitely finding it though - because if I delete it, there is no linting or error at all.

Any ideas?

[2018-09-08 18:04] adamwalzer commented on #22
@entozoon thanks for the report. It seems like this issue is likely with the double \ before .scss-lint.yml. Are you setting any configs? This could very well be my error because it's rather tough for me to test on windows at this time.

[2018-09-09 15:48] adamwalzer commented on #22
@entozoon I made an update that I believe will resolve your issue. Please let me know if this issue is resolved in version 0.1.6. Thanks!

[2018-09-10 09:55] entozoon commented on #22
That seems to have done the trick mate! Thanks very much

[2018-09-10 09:55] #22 closed

[2018-09-10 10:08] entozoon opened #23 "CRLF line endings work, but LF does not"
Hi there, sorry to be a pain again - I'm trying to improve coding standards at my workplace so this plugin is vital :)

Seems like a pretty clean cut bug, CRLF format is fine, but LF errors out.

![lf](https://i.imgur.com/l5LU7a2.gif "crlf")

[2018-09-10 10:16] entozoon commented on #23
Simple fix actually:
https://github.com/adamwalzer/vscode-scss-lint/pull/24

[2018-09-10 18:51] adamwalzer commented on #23
No worries. I'm happy this extension is helping. I merged and deployed your fix.

[2018-09-10 18:51] #23 closed

[2018-09-10 20:26] phc284 opened #25 "`FinalNewLine` not marked"
Version: **0.1.7**

## Problem ##
`FinalNewLine` is not showing error when configured and no new line is added after ending scss style

[2018-09-12 13:16] adamwalzer commented on #25
Hey @phc284,

Thanks for reporting the issue. I'll try to look into this soon. In the mean time, I'd like to make sure I understand the issue. Is `FinalNewLine` throwing an error when you run scss-lint in your terminal? Also, are you saying you expect the new line to automatically be added? This extension doesn't automatically fix any errors. It simply reports them back to you. You should use anot

[2018-09-13 18:10] phc284 commented on #25
It does throw an error when running scss-lint in the terminal and I am not expecting it to be auto-fixed. In my editor (VSCode) it does not show a warning or error that there should be a new line at the end of the `.scss` file

[2018-09-15 13:19] adamwalzer commented on #25
This is actually an error in scss-lint. I will see if I can implement this here in the extension itself, otherwise I would have to submit a PR to scss-lint. I'll try to look into it in the next couple of days.

[2018-09-16 13:39] adamwalzer commented on #25
@phc284 the issue should be resolved in version **0.1.8** let me know if you're still seeing problems. Thanks!

[2018-09-17 18:45] phc284 commented on #25
Working great! Thanks for the quick resolve! @adamwalzer

[2018-09-17 18:45] #25 closed

[2018-09-28 08:33] euheny opened #26 ".scss-lint.yml from root not used"
Hello. MacOs. Latest VS Code, latest plugin. .scss-lint.yml from project root not loaded and linter use default config.

[2018-09-28 11:30] donni106 commented on #26
Did it work before? Do you have set a config directory?

[code]

For me it is working without, `.scss-lint.yml` in root of my apps.

[2018-09-28 13:34] euheny commented on #26
Its my first try with VSC and i try make config similar to webstorm.

[2018-10-01 13:35] adamwalzer commented on #26
@euheny thanks for reporting the issue. I can try to look more into this sometime this week.

[2018-10-01 13:42] adamwalzer commented on #26
@euheny I'm unable to reproduce this issue. Can you please tell me more about your setup? Maybe I'll be able to reproduce this issue if we can more closely reproduce your setup. Also, what happens if you run scss-lint via the command line? It's worth noting that if there is an error in your .scss-lint.yml file the extension will attempt to resolve your lints using the default rather than your .scs

[2018-10-09 01:18] adamwalzer commented on #26
Ok. I'm going to assume this issue is resolved. Feel free to let me know if it is not. Thanks!

[2018-10-09 01:18] #26 closed

[2019-09-05 14:57] chrisbutler opened #27 "Package does not work in VS Code"
Running `scss-lint` in terminal produces expected output/catches errors... but the plugin finds 0 errors

`.scss-lint.yml` file is in root directory:
[code]

[2019-09-17 15:47] jeremyvii opened #28 "@supports at-rule displays linter error when nested inside media query"
The following snippet causes a linter error(`{ expected`).
[code]

However, `@supports` and `@media` work fine independently. My guess is it has something to do with CSS property in `@supports` confusing the linter.

When linting without vscode in `scss-lint` I experience no error.

[2019-10-07 15:26] #28 closed

[2019-10-22 23:42] adamwalzer commented on #27
@chrisbutler I'm sorry for the super late reply. Can you tell me more about your setup. I'm not seeing any issue from my end, but I can try to help. My first guess is that maybe you don't have the language you would like to have included in scssLint.languages in your vscode settings.

[2019-11-04 16:00] #27 closed

[2019-11-04 17:24] chrisbutler commented on #27
@adamwalzer thanks for the response. it seems to be working again now... something changed in what was just released?

[2019-11-04 17:29] adamwalzer commented on #27
@chrisbutler happy it works. The update changed the way we parse the file uri. It's possible that was the issue preventing it from working on your machine. I think there was an update in vscode that deprecated the way I was parsing the file uri. But most importantly, I'm happy it works for you now!

[2019-11-11 10:13] jjlankinen opened #37 ".scss-lint.yml not used properly"
I have a problem to make my .scss-lint.yml to work when defined it's directory in the settings.

I have the following setting `"scssLint.configDir": "/home/lankinen/Git/muikku/"` and .scss-lint.yml is directly inside the muikku folder.

If I run scss-lint via terminal with --config parameter `--config /home/lankinen/Git/muikku/.scss-lint.yml` inside my workspace I get plethora of errors and warnin

[2019-12-02 21:40] adamwalzer commented on #37
@jjlankinen thanks for filing this issue. My apologies for not seeing this earlier. Are you still seeing this issue? If so, I will try to find time to look into it. Thanks!

[2019-12-04 08:40] jjlankinen commented on #37
Yeah, that issue still persists.

I can't seem to get the linter to work within vscode (Code - OSS to be exact as I'm using manjaro).

[2019-12-05 00:14] adamwalzer commented on #37
@jjlankinen I'm looking into it and it seems like possibly there's a permission issue. I think vscode may not have access to your /home directory. Is it possible for you to keep the .scss-lint.yml file somewhere else? I'm not sure I can fix this issue with this extension.

[2019-12-05 06:02] jjlankinen commented on #37
Well where else I could put it, home/[username] is pretty much de facto place to put those things.

Seems a bit weird it being an permission issue as vscode can write (I do edit all the project files inside /home/lankinen/Git/muikku/ within vscode ) to the project folders I have inside home folder.

Anyways, I can check if there's some permission issues going on.

Oh and tnx for looking into it of

[2019-12-05 15:47] chrisbutler commented on #27
hey @adamwalzer, for some reason the package seems to have stopped working again... i don't think anything has changed in the last month on my end other than updating VSCode

any thoughts on what the issue could be?

[2019-12-06 00:33] adamwalzer commented on #27
@chrisbutler I haven't released any updates since October 22nd. I'm not sure what it could be. I see it working on my end. Any additional information you can give me?

[2019-12-06 01:11] adamwalzer commented on #27
@chrisbutler I just pushed a new version with some updates that may help. Let me know. Also, do you use runOnTextChange?

[2019-12-06 01:12] adamwalzer commented on #37
@jjlankinen unfortunately it's a little difficult for me to debug your situation since your setup is so different from mine. I'm grasping at straws a little bit. I just published an update that I think might work. Also, I was wondering, do you use runOnTextChange?

[2019-12-06 19:56] chrisbutler commented on #27
@adamwalzer updated the package, and it does appear to be working fine again. thank you!

also, i don't use that option... everything is just the defaults

[2019-12-06 21:04] adamwalzer commented on #27
Awesome. I’m very happy to hear it!

[2019-12-09 09:06] jjlankinen commented on #37
I do use runOnTextChange. Permissions seem to have nothing to do with this as vscode/Code OSS has every privileges it needs currently in my projects and my home folders.

Thanks for the effort nevertheless. I'll just keep running the scss linter manually via keyboard shortcut for now.

[2019-12-09 14:55] adamwalzer commented on #37
@jjlankinen I'm sorry to hear this isn't working yet. I have my guesses about what might be causing it, but it's tough debug. As this is an open source project, I definitely invite you to give it a shot. Additionally, I would recommend trying to turn off `runOnTextChange` to see if that works. The linter works differently when that is option is turned on because it can no longer lint the file but

[2020-01-06 15:42] adamwalzer commented on #37
I'm going to close this for inactivity. Sorry if we didn't find the solution you were looking for

[2020-01-06 15:42] #37 closed

[2020-04-20 16:22] dkniffin commented on #27
@adamwalzer is it broken again? I just installed it for the first time, so there's a good chance I have something misconfigured, but running `scss-lint` on the CLI gives me linting errors, but they are not showing in VSCode with this extension installed. Any ideas?

[2020-04-20 17:45] dkniffin commented on #27
Nevermind. I got it working. I _think_ the issue is that I had scss-lint installed in one ruby version but not another. Not 100% sure on that, but that was one of the things I did 🤷‍♂️

[2020-04-20 20:00] adamwalzer commented on #27
I'm happy to hear it's working for you. Thanks for updating us here so others can possibly learn from your experience.

[2020-05-13 14:36] chrisbutler commented on #27
@dkniffin @adamwalzer i had the same issue after updating my app's ruby version via rbenv... the package i guess always uses the system ruby?

[2020-06-04 03:39] adamwalzer commented on #27
Hey @chrisbutler,

Sorry for the late reply. Things have been super crazy recently as I'm sure you're aware. This package simply executes the scss-lint command as you would in the terminal and parses the output to display in vs code. It should use whatever ruby would automatically be used by your system when running that command. If we'd like to add the ability to configure which version of ruby g

[2021-04-11 15:46] Seairth opened #38 "When a file is deleted, remove associated diagnostic object(s)"
If a file has diagnostic objects associated to it when it is deleted, the diagnostic objects are not removed.  This causes the problems pane to display erroneous messages that cannot be cleared.

Ideally, when the workspace reports deleted files, the diagnostic collection is updated to remove the deleted files.